<!DOCTYPE html>
<html>

<head>
    <title>Candidate Registration</title>
</head>

<body>

    <h2>Candidate Registration</h2>

    <form method="POST" action="/register">

        <label>Full Name</label><br>
        <input type="text" name="full_name"><br><br>

        <label>Email</label><br>
        <input type="email" name="email"><br><br>

        <label>Exam Name</label><br>
        <input type="text" name="exam_name"><br><br>

        <button type="submit">Register</button>

    </form>

</body>

</html>